<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
<div class="form-group" [hidden]="wrongPassword">
  <p>
  Enter your password here !
  </p>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #passwordGiven>
  <button type="submit" class="btn btn-primary"  (click)="submitForm(passwordGiven)">Submit</button>
</div>
<div [hidden]="!wrongPassword">
   <p>
  Change Password
  </p><br><br>
  <p>
  New Password
  </p>
  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" #newPassword>
  <p>
  Re-enter New Password
  </p>
  <input type="password" class="form-control" idgh="exampleInputPassword3" placeholder="Password" #reNewPassword><br> 
  <br>
  <button type="submit" class="btn btn-primary"  (click)="changePassword(newPassword,reNewPassword)">Submit</button>
</div>
</div>